.ltco_footer {
  background-color: ltco_color('tertiary');

  .divisor {
    background-color: #fff;
    width: 1px;
    min-height: 100%;
    opacity: 0.2;
    margin-top: 3rem;

    @include media-breakpoint-down(md) {
      &.first {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      &.last {
        display: none;
      }
    }

    @include media-breakpoint-only(xs) {
      display: none;
    }
  }

  %centerAllMaxMD {
    @include media-breakpoint-only(xs) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-breakpoint-only(xs) {
    .row > * + * {
      margin-top: 3rem;
    }
  }

  @include media-breakpoint-only(xs) {
    &__social .ltco_social {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }

    &__heading {
      text-align: center;
      color: ltco_color('white');
    }
  }

  &__nav {
    .nav {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;

      .nav-link {
        color: ltco_color('white');
        padding-left: 0;
        padding-right: 0;
        @include transition($transition-base);

        &:hover {
          transform: translateX(8px);
        }

        @include media-breakpoint-only(xs) {
          text-align: center;
        }
      }
    }
  }

  .ltco_scroll_top {
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
      margin-right: 0;
    }
  }

  &__copyright {
    background-color: ltco_color('blue-200');
    padding-top: 2rem;
    padding-bottom: 2rem;

    .d-flex > * {
      color: ltco_color('white');
    }
  }
}
