<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="theme-color" content="#000">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Vehicles - Remarkable Cars</title>

  <meta name="author" content="Design: SINAIS Publicidade | Programação: ltco.com.br">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="pt-br">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./styles/main.css"/>
</head>
<body class="ltco_vehicles">
  <div id="root">
    <div ltco-include-html="views/nav.html"></div>

    <main class="ltco_main">
    </main>

    <div ltco-include-html="views/finance.html"></div>
    <div ltco-include-html="views/features.html"></div>
    <div ltco-include-html="views/footer.html"></div>
  </div>

  <script type="text/javascript" src="./scripts/includehtml.js"></script>
  <script type="text/javascript" src="./scripts/jquery.min.js"></script>
  <script type="text/javascript" src="./scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="./scripts/splide.min.js"></script>
  <script type="text/javascript" src="./scripts/main.js"></script>
</body>
</html>
