<header class="header ltco_carousel">
  <div id="carouselHeader" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="active carousel-item">
        <picture>
          <source media="(min-width: 1400px)" srcset="https://via.placeholder.com/1920x500/27F707/FFF" />
          <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/1400x500/A8D923/FFF" />
          <source media="(min-width: 992px)" srcset="https://via.placeholder.com/1200x500/405407/FFF" />
          <source media="(min-width: 768px)" srcset="https://via.placeholder.com/992x500/0FBAB4/FFF" />
          <source media="(min-width: 576px)" srcset="https://via.placeholder.com/768x400/74D4D0/FFF" />
          <img src="https://via.placeholder.com/576x300/A52CF5/FFF" class="d-block w-100" alt="car photo - remarkable cars">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width: 1400px)" srcset="https://via.placeholder.com/1920x500/27F707/FFF" />
          <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/1400x500/A8D923/FFF" />
          <source media="(min-width: 992px)" srcset="https://via.placeholder.com/1200x500/405407/FFF" />
          <source media="(min-width: 768px)" srcset="https://via.placeholder.com/992x500/0FBAB4/FFF" />
          <source media="(min-width: 576px)" srcset="https://via.placeholder.com/768x400/74D4D0/FFF" />
          <img src="https://via.placeholder.com/576x300/A52CF5/FFF" class="d-block w-100" alt="car photo - remarkable cars">
        </picture>
      </div>
    </div>

    <button class="carousel-control-prev" data-bs-target="#carouselHeader" type="button" data-bs-slide="prev">
      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselHeader" type="button" data-bs-slide="next">
      <span aria-hidden="true" class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
</header>
