.ltco_contato article {
  &.ltco_units {
    background-color: ltco_color('gray-100');

    .ltco_units__wrapper {
      display: grid;
      gap: 2rem;

      @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .ltco_unit {
      display: grid;
      gap: 1rem;

      @include media-breakpoint-up(md) {
        grid-template-columns: 300px 1fr;
      }

      @include media-breakpoint-only(lg) {
        grid-template-columns: 50% 1fr;
      }

      .ltco_unit__map iframe {
        width: 100%;
        height: 200px;
        border: 0;
      }
    }
  }
}
