.ltco_empresa article {

  img {
    @include img-fluid();
    display: block;
  }

  &.ltco_wrapper_color {
    background-color: ltco_color('green-400');
  }

  .ltco_timeline {
    padding-left: 0;

    li {
      list-style: none;
      color: ltco_color('white');
    }

    > li {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(xs) {
        text-align: center;
        flex-direction: column;
      }

      & + * {
        margin-top: 1rem;
      }

      strong {
        min-width: 100px;
        background-color: ltco_color('green-100');
        text-align: center;

        padding: 0.25rem 1.25rem;
        border-radius: 40px;
        margin-right: 1rem;
      }

      ul {
        flex: 1;
      }
    }
  }

  > ul:not(.ltco_timeline) {
    padding-left: 1.5rem;

    li {

      &::marker {
        @include font-size(20px);
        color: ltco_color();
      }
    }
  }

  ul ul {
    padding-left: 0;
  }
}
