.ltco_home {
  .ltco_chioces {
    .row > * {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media-breakpoint-down(lg) {
        & + * {
          margin-top: 3rem;
        }
      }
    }

    figure {
      background-color: ltco_color('gray-500');
      // background-image: url('#{$ltco_path_images}/sustentability-bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;

      @include media-breakpoint-up(sm) {
        justify-content: initial;
        min-height: 300px;
      }

      @include media-breakpoint-up(xl) {
        min-height: 400px;
      }

      figcaption {
        color: ltco_color('white');
        max-width: 400px;
        line-height: 1;
        @extend .fs-1;

        @include media-breakpoint-only(lg) {
          font-size: calc(1.5rem + 2.3vw) !important;
        }
      }
    }
  }

  .ltco_category {
    &__list {
      @extend .list-unstyled;
      margin-bottom: 0;
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-around;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .ltco_cars_highlights {
    @include media-breakpoint-up(sm) {
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        background-color: ltco_color('gray-300');
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }

  .ltco_cta_hero {
    background-image: url('#{$ltco_path_images}/bg-cta-hero.jpg');
    background-color: ltco_color('gray-700');
    @extend %backgroundCover;
    height: 50vh;
    min-height: 200px;

    * {
      color: ltco_color('white');
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}
