<footer class="ltco_footer">
  <div class="container py-5">
    <div class="ltco_footer__slogan">
      <p class="text-primary fs-1 fw-bolder mb-0 lh-1">Visit us today</p>
      <p class="text-white fs-4">And leave driving the car you have been looking for!</p>
    </div>

    <div class="divisor d-none d-xl-block"></div>

    <div class="ltco_footer__contact">
      <a href="mailto:lucas@remarkablecars.nz" class="text-white">lucas@remarkablecars.nz</a>
      <address>
        110 Coleridge Street, Sydenham<br />
        Christchurch
      </address>
    </div>

    <div class="divisor d-none d-sm-block"></div>

    <div class="ltco_footer__nav">
      <nav class="nav flex-column">
        <a href="%s/vehicles" class="nav-link" title="Vehicles">Vehicles</a>
        <a href="%s/finance" class="nav-link" title="Finance">Finance</a>
        <a href="%s/location" class="nav-link" title="Location">Location</a>
        <a href="%s/about-us" class="nav-link" title="About us">About us</a>
      </nav>
    </div>
  </div>
</footer>
