<nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
  <div class="container">
    <a href="%s/" class="navbar-brand">
      <img src="../images/svgs/logo-remarkable.svg" alt="remarkable-logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarHeader"
      aria-controls="navbarHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarHeader">
      <div class="ms-auto navbar-nav">
        <a href="%s/" class="nav-link text-center">Home</a>
        <a href="%s/vehicles" class="nav-link text-center">Vehicles</a>
      </div>

      <a
        href="#teste"
        role="button"
        tabindex="0"
        class="rounded-pill btn btn-primary d-table mx-auto mx-lg-0"
      >
        phone: <strong>02199997878</strong>
      </a>
    </div>
  </div>
</nav>
